{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Acknowledgements {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container position-sticky z-index-sticky top-1">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation-fullscreen.html" %}

      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="page-header min-height-300 border-radius-xl mt-2" style="background-image: url('{{ config.ASSETS_ROOT }}/img/curved-images/curved14.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-7 mt-n10 overflow-hidden">
        <div class="row gx-4">
          <div class="col-12">
            <h1>Acknowledgements</h1>            
            <p>Special thanks to:</p>
            <ul>
                <ul>
                    <li>We extend our sincere appreciation to AppSeed for their commitment to the open-source community. The elements we've incorporated from their respected template have been integral to the development of our application. AppSeed's willingness to share their resources and maintain an open-source ethos has not only supported our project but also inspires a collaborative spirit within the tech industry. We are grateful for the opportunity to use and build upon the work from the Flask Soft UI Dashboard project, and we acknowledge the role it has played in our project's journey.</li>
                </ul>
            </ul>
          </div>
        </div>
    </div> 
</div>

<div class="container-fluid py-4">
    {% include "includes/footer-fullscreen.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
