{% extends 'layouts/base.html' %}

{% block title %} Acknowledgements {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
    @media (max-width: 750px) {
      .card {
          margin-left: 0rem !important;
          margin-right: 0rem !important;
      }
    }
    </style>
{% endblock stylesheets %}

{% block content %}

<div class="container-fluid">
    <div class="page-header min-height-300 border-radius-xl mt-2" style="background-image: url('{{ config.ASSETS_ROOT }}/img/curved-images/curved14.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
    </div>
    <div class="card card-body blur shadow-blur mx-7 mt-n10 overflow-hidden">
        <div class="row gx-4">
          <div class="col-12">
            <h1>Acknowledgements</h1>            
            <p>Special thanks to:</p>
            <ul>
                <ul>
                    <li>This project incorporates elements from the Flask Soft UI Dashboard by AppSeed, an open-source template that has contributed to the functionality and design of our application. We appreciate the resources provided by AppSeed and acknowledge their role in supporting our development. Any respected licensing or copyright notices are referenced in the project.</li>
                </ul>
            </ul>
          </div>
        </div>
    </div> 
</div>

<div class="container-fluid py-4" style="width:90%">
    {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}
<script>
    document.getElementById('dynamic-breadcrumb').innerText = "Acknowledgements";
</script>
{% endblock javascripts %}
