<footer class="footer py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 mb-4 mx-auto text-center">
          <a href="/contact#faq" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            FAQ
          </a>
          <a href="/contact" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Contact Us
          </a>
          <a href="/privacypolicy" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Privacy Policy
          </a>
          <a href="/acknowledgements" target="_blank" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Acknowledgements
          </a>
        </div> 
      </div>
      <div class="row">
        <div class="col-12 mx-auto text-center mt-1">
          <p class="mb-0 text-secondary">
            <b>You are accessing an experimental web application developed by participants of the Team Project 2024 module.</b>
          </p>
        </div>
      </div>
    </div>
  </footer>
  