{% extends 'layouts/base.html' %}

{% block title %}Favorites{% endblock %}

{% block stylesheets %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        background-color: #f4f1f8;
    }
    .container {
        width: 90%;  /* Main container width */
        margin: auto;
        color: #4A274F;
    }
    section {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 2px solid #EDE7F6;
        display: none; /* Initially hide all sections */
    }
    .content-container {
        width: 90%;
        max-width: none;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .link-container {
        display: flex;
        width: 32%;
        height: auto;
        flex-direction: row;
        align-items: center;
        background-color: var(--container-bg);
        color: var(--text-color);
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        overflow: hidden;
    }
    .resource-image {
        flex: 0 0 35%;
        padding-right: 10px;
    }
    .resource-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 20px;
    }
    .resource-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .resource-info h2, .resource-info p {
        margin: 4px 0;
        font-size: 0.8em;
    }
    .resource-info a {
        color: var(--text-color);
        text-decoration: none;
        font-size: 1.5em;
    }
    .resource-info a:hover {
        text-decoration: underline;
        font-weight: bold;
    }
    .navigation {
        display: flex;
        justify-content: flex-start;
        gap: 100px;
        text-align: left;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 5%;
    }
    .navigation a {
        display: inline-block;
        background-color: var(--button-bg); /* Using variable for button background */
        color: var(--button-text); /* Using variable for text color */
        padding: 10px 20px;
        font-size: 1.2em;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    .navigation a:hover {
        background-color: var(--button-hover-bg); /* Using variable for hover background */
        text-decoration: none; /* No underline on hover */
    }
    :root {
        --container-bg: #ffffff;
        --text-color: #12174c;
        --button-bg: #c4a1e4; /* Light purple background */
        --button-text: #ffffff; /* White text for buttons */
        --button-hover-bg: #8449ac; /* Slightly darker purple on hover */
    }
    body.dark-page {
        --container-bg: #404B69;
        --text-color: #d7d7d7;
        --button-bg: #404B69; /* Darker purple for dark mode */
        --button-text: #d7d7d7; /* Light text for dark mode */
        --button-hover-bg: #8a8b8f; /* Even darker purple for hover state in dark mode */
    }
    form {
        display: flex;
        justify-content: left;
        margin-bottom: 20px;
    }
    input[type="text"] {
        width: 30%;  /* Adjusted width */
        padding: 10px;
        margin-right: 10px;
        border: 2px solid #ccc;
        border-radius: 5px;
    }
    button {
        width: 7%;  /* Adjusted width to match the input field's height */
        padding: 10px 0px;  /* Adjust padding to maintain aspect */
        background-color: var(--button-bg);  /* Using variable for background */
        color: var(--button-text); /* Using variable for text color */
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1em;  /* Ensure text size is appropriate */
        transition: background-color 0.3s;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
    button:hover {
        background-color: var(--button-hover-bg);  /* Using variable for hover background */
    }
</style>
{% endblock stylesheets %}


{% block content %}
<div class="container-fluid py-4">
    <h1>Favorites</h1>
    <p>Review all your favorite resources collected here.</p>
     <!-- Search Form -->
     <form method="GET" action="/favorites">
        <input type="text" name="search" placeholder="Search favorites..." autocomplete="off">
        <button type="submit">Search</button>
    </form>
    <div class="navigation">
        <a href="javascript:void(0);" onclick="showSection('favorite-articles')">Articles</a>
        <a href="javascript:void(0);" onclick="showSection('favorite-videos')">Videos</a>
        <a href="javascript:void(0);" onclick="showSection('favorite-expert-insights')">Expert Insights</a>
    </div>
    <div id="favorites-sections">
        <section id="favorite-articles" style="display:block;">
            <h2>Favorite Articles</h2>
            <div class="content-container" id="favorite-articles-container">
                {% for article in articles %}
                <div class="link-container">
                    <div class="resource-image">
                        <img src="{{ article.image_url }}" alt="{{ article.name }}">
                    </div>
                    <div class="resource-info">
                        <h2><a href="{{ article.link }}" target="_blank">{{ article.name }}</a></h2>
                        <p>{{ article.description }}</p>
                        <p>Time to Complete: {{ article.time_to_complete }}utes</p>
                        <p>Content Level: {{ article.content_level }}</p>
                    </div>
                </div>
                {% else %}
                <p>No favorite articles found.</p>
                {% endfor %}
            </div>
        </section>
        <section id="favorite-videos">
            <h2>Favorite Videos</h2>
            <div class="content-container" id="favorite-videos-container">
                {% for video in videos %}
                <div class="link-container">
                    <div class="resource-image">
                        <img src="{{ video.image_url }}" alt="{{ video.name }}">
                    </div>
                    <div class="resource-info">
                        <h2><a href="{{ video.link }}" target="_blank">{{ video.name }}</a></h2>
                        <p>{{ video.description }}</p>
                        <p>Time to Complete: {{ video.time_to_complete }}utes</p>
                        <p>Content Level: {{ video.content_level }}</p>
                    </div>
                </div>
                {% else %}
                <p>No favorite videos found.</p>
                {% endfor %}
            </div>
        </section>
        <section id="favorite-expert-insights">
            <h2>Favorite Expert Insights</h2>
            <div class="content-container" id="favorite-expert-insights-container">
                {% for insight in expert_insights %}
                <div class="link-container">
                    <div class="resource-image">
                        <img src="{{ insight.image_url }}" alt="{{ insight.name }}">
                    </div>
                    <div class="resource-info">
                        <h2><a href="{{ insight.link }}" target="_blank">{{ insight.name }}</a></h2>
                        <p>{{ insight.description }}</p>
                        <p>Time to Complete: {{ insight.time_to_complete }}utes</p>
                        <p>Content Type: {{ insight.content_type }}</p>
                    </div>
                </div>
                {% else %}
                <p>No favorite expert insights found.</p>
                {% endfor %}
            </div>
        </section>
    </div>
</div>
<a href="#" id="back-to-top" title="Back to Top" style="display: none;">&#8679;</a>
<div>{% include "includes/footer.html" %} 
</div>
{% endblock %}
{% block javascripts %}
<script>
function showSection(sectionId) {
    // Hide all sections
    document.querySelectorAll('section').forEach(function(section) {
        section.style.display = 'none';
    });
    // Show the requested section
    document.getElementById(sectionId).style.display = 'block';
}
</script>
{% endblock %}