{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Privacy Policy {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container position-sticky z-index-sticky top-1">
    <div class="row">
      <div class="col-12">

        {% include "includes/navigation-fullscreen.html" %}

      </div>
    </div>
  </div>

    <div class="container-fluid">

      <div class="page-header min-height-300 border-radius-xl mt-2" style="background-image: url('{{ config.ASSETS_ROOT }}/img/curved-images/curved14.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
      </div>
      <div class="card card-body blur shadow-blur mx-7 mt-n10 overflow-hidden">
        <div class="row gx-4">
          <div class="col-12">
            <h1>Volume Privacy Policy</h1>
            <p>Last Updated: March 5th 2024</p>
            <p>This privacy Policy explains how we collect, use, disclose, and protect your personal information when you use our website and services. 
                By accessing or using Volume, you agree to this Privacy Policy</p>
            
            <p>Topics:</p>
            <ul>
                <li>What data do we collect?</li>
                <li>How do we collect your data?</li>
                <li>How will we use your data?</li>
                <li>How will we store your data?</li>
                <li>Marketing</li>
                <li>What are your data protection rights?</li>
                <li>What are cookies?</li>
                <li>How we use cookies and the types of cookies we use</li>
                <li>How to manage your cookies</li>
                <li>Privacy policies of other websites</li>
                <li>Changes to our privacy policy</li>
                <li>How to contact us</li>
                <li>How to contact the appropriate authority</li>
            </ul>

            <h2>What data do we collect?</h2>
            <p>Volume collects the following data:</p>
            <ul>
                <li>Personal Information (Name, email address, phone number, Friends and Family Connections) as voluntarily submitted by users.</li>
                <li>Speech Data during practice sessions to provide feedback and enhance public speaking skills.</li>
                <li>User Information such as how you interact with the platform, including session during, last online and other engagement metrics.</li>
            </ul>

            <h2>How do we collect your data?</h2>
            <ul>
                <li>Automatic collection when you interact with our platform, such as usage data</li>
                <li>During account registration, practice sessions, or when interactive with the platform's features and services.</li>
                <li>Voluntarily provide feedback on our support and feedback page.</li>
                <li>Use or view the website via your browser's cookies.</li>
            </ul>

            <h2>How will we use your data?</h2>
            <ul>
                <li>To deliver personalized lessons, feedback, and resources aimed at improving you public speaking skills.</li>
                <li>To enhance the performance, functionality, and effectiveness of the platform.</li>
                <li>To send updates, announcement, events, and resources</li>
            </ul>

            <h2>How will we store your data?</h2>
            <p>Volume securely stores your data at Microsoft Azure servers in the United Kingdom. The website is secured with https encryption.</p>
            <p>Volume will keep your personal data for 100 days from when you were last active. Once this time period has expired, we will delete your data. 
                Audio recordings for practice sessions is deleted immediately after the voices are processed and the result is displayed.</p>

            <h2>Marketing</h2>
            <p>While Volume does not engage in marketing activities and doesn't contain advertisements within the platform, users have the option to upload resources to the platform. 
                These resources may include videos, articles, or other materials related to public speaking. Any user-uploaded resources are subject to our terms of service. 
                We do not endorse or actively promote any specific content uploaded by users. Users are responsible for ensuring that their uploads comply with copyright and privacy laws.</p>

            <h2>What are your data protection rights?</h2>
            <ul>
                <li><b>The right to access</b> - You have the right to request Volume for copies of your personal data.</li>
                <li><b>The right to rectification</b> - You have the right to request that Volume correct any information you believe is inaccurate. You also have the right to request Volume to complete the information you believe is incomplete.</li>
                <li><b>The right to erasure</b> - You have the right to request that Volume erase your personal data, under certain conditions.</li>
                <li><b>The right to restrict processing</b> - You have the right to request that Volume restrict the processing of your personal data, under certain conditions.</li>
                <li><b>The right to object to processing</b> - You have the right to object to Volume's processing of your personal data, under certain conditions.</li>
                <li><b>The right to data portability</b> - You have the right to request that Volume transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
            </ul>
            <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email:</p>
            <ul>
                <li>gnj224@student.bham.ac.uk</li>
            </ul>
            <p>Or visit us:</p>
            <ul>
                <li>University of Birmingham Dubai, Academic City, Dubai, UAE</li>
            </ul>

            <h2>What are cookies?</h2>
            <p>Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit Volume, we may collect information from you automatically through cookies or similar technology.</p>
            <p>For further information, visit allaboutcookies.org</p>

            <h2>How we use cookies and the types of cookies we use</h2>
            <p>Volume uses functional cookies so that we recognize you, keep you signed in on the website and remember your previously selected preferences. These include your accessibility settings and theme.</p>
            <p>We do not use cookies for tracking or targeting purposes, such as advertising or analytics.</p>

            <h2>How to manage cookies</h2>
            <p>You can set your browser not to accept cookies. However, in a few cases, some of our website features may not function as a result.</p>

            <h2>Privacy policies of other websites</h2>
            <p>The Volume website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.</p>

            <h2>Changes to our privacy policy</h2>
            <p>Volume keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 5th March 2024.</p>

            <h2>How to contact us</h2>
            <p>If you have any questions about Volume's privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
            <p><b>Email:</b></p>
            <ul>
              <li><code>afa192@student.bham.ac.uk </code> - Ameer Firas Alhashemi</li>
              <li><code>gnj224@student.bham.ac.uk </code> - Geo Noel Jeesan</li>
              <li><code>jxj243@student.bham.ac.uk </code> - Jovin Joseph</li>
              <li><code>hga101@student.bham.ac.uk </code> - Hassan AlJuboori</li>
              <li><code>mfa147@student.bham.ac.uk </code> - Maha F.M Adwan</li>
              <li><code>sbs255@student.bham.ac.uk </code> - Sajia Balkees Sayed</li>
              <li><code>axa1888@student.bham.ac.uk</code> - Adnan Alfatouhi Aljundi</li>
            </ul>
            <p><b>Address:</b> University of Birmingham Dubai, Academic City, Dubai, United Arab Emirates</p>

            <h2>How to contact the appropriate authority</h2>
            <p>Should you wish to report a complaint or if you feel that Volume has not addressed your concern in a satisfactory manner, you may contact the Information Commissioner's Office.</p>
            <ul>
                <li><b>Email:</b> sbs255@student.bham.ac.uk</li>
                <li><b>Address:</b> University of Birmingham Dubai, Academic City, Dubai, United Arab Emirates</li>
            </ul>
            </div>
        </div>
      </div> 

    </div>

    <div class="container-fluid py-4">

      {% include "includes/footer-fullscreen.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
