{% extends 'layouts/base.html' %} {% block title %}Lessons{% endblock %} {% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<style>
  .main-content {
    flex: 1;
  }

  .grayed-out-message {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #f4f5f7;
    color: #8898aa;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }

  /* General page styles */
  .container-fluid {
    max-width: 1200px;
  }

  /* Card titles and numbers */
  .card-number {
    margin-top: 20px;
    font-size: 36px;
    /* Large font size for the number */
    font-weight: bold;
    line-height: 1;
    /* Ensures the number is closely followed by the title */
  }

  .btn-success {
    background-color: #28a745; /* Example green color */
    color: white;
    /* Add any additional styling as needed */
  }

  .card-title {
    font-size: 18px;
    /* Smaller font size for the title */
    color: #344767;
    font-weight: normal;
    font-family: 'Open sans', sans-serif;
  }

  /* Apply custom fonts to relevant elements on the lessons page */
  #lesson-title,
  #lesson-description,
  #lesson-difficulty {
    font-family: "Open sans", sans-serif;
    /* This is assuming you want to use Alegreya for these elements */
  }

  /* You may need to adjust card paddings to match the home page */
  .card-body {
    padding: 2rem;
    /* Adjust based on home page padding */
  }

  /* Styles for the lessons cards */
  .card {
    border: none;
    border-radius: 15px;
    margin-bottom: 2rem;
  }

  .card-body {
    padding: 1rem;
    padding-top: 0;
    /* Reduce or remove the top padding */
    position: relative;
    /* If not already set, for positioning context */
    overflow: hidden;
    /* Prevents content from spilling outside the card */
  }

  p {
    color: #8898aa;
    /* Adjust the color to match your brand color */
  }

  .lesson {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* Adds space between each lesson card if needed */
  }

  /* Styles for the lesson icon */
  .lesson-icon img {
    max-width: 100px;
    /* Adjust the value as needed */
    max-height: 100px;
    /* Adjust the value as needed */
    height: auto;
    width: auto;
    /* This will maintain the aspect ratio */
    display: block;
    /* To remove any extra space below the image */
    margin: 0 auto;
    /* This will center the image in its container */
  }

  .lesson-card {
    /* Add your existing styles here */
    margin: auto;
    /* This centers the card in the flex container */
    width: fit-content;
    /* Or a fixed width if you prefer */
    text-align: center;
  }

  /* Styles for the buttons */
  .btn-primary {
    background-color: #ACAACC;
    /* Adjust the color to match your brand color */
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
  }

  .btn-secondary {
    background-color: #f4f5f7;
    /* Light grey background for secondary button */
    color: #306D9C;
    /* Adjust the color to match your brand color */
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
  }

  /* Styles for the Volume Wave graph container */
  .wave-graph-container {
    background-color: #f7fafc;
    /* Adjust the color to match your brand color */
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    width: 100%;
    /* Responsive to container size */
    max-width: 600px;
    /* Maximum width */
    height: 400px;
    /* Fixed height */
    margin: auto;
    /* Centering if needed */
    /* Center content if the graph is not as wide as the container */
  }



  /* Additional styles for alignment and responsiveness */
  @media (min-width: 992px) {

    /* Adjust based on your breakpoints */
    .col-lg-8,
    .col-lg-4 {
      display: flex;
      flex-direction: column;
    }

    .col-lg-4 {
      justify-content: space-between;
      /* To push the Volume Wave card to the bottom */
    }
  }

  .progress-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  #skills-progress-container {
    margin-top: 0;
    /* Remove top margin if there's unnecessary space inside the card */
  }

  .progress {
    height: 20px;
    /* Adjust the height to make it more visible */
    background-color: #e9ecef;
    /* Light grey background */
    border-radius: 10px;
    /* Rounded corners */
    overflow: hidden;
    /* Ensures that the inner bar doesn't overflow */
  }

  .progress-bar {
    height: 100%;
    /* Fills the entire height of the progress container */
    background: #7571AD;
    /* Bu /* The filled color part, same as your custom blue */
    border-radius: 10px;
    /* Rounded corners */
    display: flex;
    align-items: center;
    /* Centers text vertically */
    justify-content: center;
    /* Centers text horizontally */
    color: white;
    /* Text color */
    font-weight: bold;
    /* Bold text */
    position: relative;
    min-width: 70px;
    /* Relative position for percentage text */
    overflow: hidden;
    /* Hide the overflow to keep the text inside the bar */
  }

  .progress-bar-text {
    position: absolute;
    right: 0;
    white-space: nowrap;
    width: 100%;
    text-align: center;
  }

  .badge {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
  }

  /* Styles for the progress card containing the badge */
  .progress-card {
    text-align: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 2rem;
    /* Space between cards */
    position: relative;
    /* For absolute positioning of the percentage */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* Styles for the badge image container */
  .badge-container {
    position: relative;
    /* To position the percentage text over the image */
    display: block;
    text-align: center;
    /* To fit the width of the content */
  }

  /* Styles for the badge image itself */
  .badge-image {
    width: 100%;
    /* Adjust this to the size of your badge image */
    height: auto;
  }

  /* Styles for the progress card title */
  .progress-card-title {
    font-size: 1.25rem;
    color: #344767;
    margin-top: 2rem;
    /* Space from the top of the badge */
  }

  .badge-beginner {
    color: #fff;
    background-color: #28a745;
    /* Green for beginner */
  }

  .badge-intermediate {
    color: #fff;
    background-color: #ffc107;
    /* Yellow for intermediate */
  }

  .badge-advanced {
    color: #fff;
    background-color: #dc3545;
    /* Red for advanced */
  }

  #skills-progress-container {
    margin-top: 0;
    /* Adjust this value if you want less space above the progress bars */
  }
  

</style> {% endblock %} {% block content %} <div class="container-fluid py-4">


  <div class="row mb-4">
    <div class="col-md-6"> <!-- Left column for text -->
      <h1 class="fw-bold">Lessons</h1>
      <p>With Volume, tailoring your lessons was always part of the plan!</p>
    </div>
  
    <div class="col-md-3 offset-md-2 mb-3 text-end"> <!-- Adjusted width column for card and aligned to the right -->
      <div class="card lesson-card tutorial-card text-center" style="background-color: #f0f4f7;"> <!-- Use a light background to stand out -->
        <div class="card-body">
          <p class="card-text">Get to know your way around with a quick guide.</p>
          <a href="/practice/0-1"><button class="btn btn-sm btn-primary" id="start-tutorial-btn">Start Tutorial</button></a> <!-- Reduced size button -->
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  

  <div class="row justify-content-center mb-5">
    <div class="col-md-6">
      <div class="card mb-4 text-center">
        <div class="card-body d-flex flex-column align-items-center">
          <h4>Pick up where you left off:</h4>
          <h5 id="lesson-title">Loading...</h5>
          <p id="lesson-description">Loading description...</p>
          <div id="lesson-difficulty" class="badge">Loading difficulty...</div>
          <p id="lesson-progress">Loading progress...</p>
          <div class="lesson-icon mb-3">
            <img id="lesson-image" src="" alt="Loading lesson image...">
          </div>
          <!-- Continue Lesson button -->
          <button class="btn btn-primary " id="continue-lesson">Continue Lesson</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- Lessons Cards -->
    <div class="row justify-content-center mb-5">
      <div class="col-lg-12">
        <div class="tab-group-2" role="group">
          <button type="button" class="btn btn-secondary" data-toggle="tab" data-target="#lessons-tab">Lessons</button>
          <button type="button" class="btn btn-secondary" data-toggle="tab" data-target="#progress-tab">Progress</button>
      </div>
      <hr style="border: 0.1px solid black;">


        <div class="card tab-pane-2" id="lessons-tab">
          <div class="card-body">
            <h5 class="card-title"></h5>
            <br>
            <div class="challenge-item">
              <!-- <button class="btn btn-primary" id="beginner-btn">Beginner</button>
              <button class="btn btn-primary" id="intermediate-btn">Intermediate</button>
              <button class="btn btn-primary" id="advanced-btn">Advanced</button> -->

              <div class="tab-group-1" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" data-toggle="tab" data-target="#beginner-tab">Beginner</button>
                <button type="button" class="btn btn-primary" data-toggle="tab" data-target="#intermediate-tab">Intermediate</button>
                <button type="button" class="btn btn-primary" data-toggle="tab" data-target="#advanced-tab">Advanced</button>
            </div>
            

              <div id="lessons-display" class="row">

              </div>

            </div>
          </div>
        </div>

      </div>
      <!-- Volume Spectrum Card -->
      <div class="row justify-content-around mb-4 tab-pane-2" id="progress-tab">
        <div class="col-md-6">
          <div class="card mb-4 text-center">
            <div class="card-body d-flex flex-column" style="height: 400px;">
              <h5>Your Volume™ Spectrum:</h5>
              <p>Here's how your attitude spans with your Volume™ lessons.</p>
              <!-- Container div for the canvas -->
              <div style="flex-grow: 1; position: relative; height: calc(100% - 70px);">
                <canvas id="sentimentSkillChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <!-- Your Progress Card -->
        <div class="col-md-6">
          <div class="card mb-4 text-center">
            <div class="card-body">
              <h5> Your Progression Tracker:</h5>
              <p>Each bar represents your average performance score in each lesson.</p>
              <div id="sentiments-progress-container">
              </div>
            </div>
          </div>
        </div> {% include "includes/footer.html" %}
      </div> {% endblock %} {% block javascripts %}
      <script src="{{ url_for('static', filename='assets/js/Lessons/lessons.js') }}"></script>
      <script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
      {% endblock %}