{% extends 'layouts/base.html' %} {% block title %}Lessons{% endblock %} {% block stylesheets %} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">

<style>
  .main-content {
    flex: 1;
  }

  .wave-graph-container {
    height: auto;
    margin-bottom: 0;
    /* Adjust to the desired height */
    background-color: #f7fafc;
    /* Adjust the color to match your brand color */
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    /* Center content if the graph is not as wide as the container */
  }

  .wave-graph {
    width: 100%; /* Responsive to container size */
    max-width: 600px; /* Maximum width */
    height: 400px; /* Fixed height */
    margin: auto; /* Centering if needed */
    /* Adjust as necessary to maintain aspect ratio */
  }

  /* General page styles */
  .container-fluid {
    max-width: 1200px;
  }

  /*fonts*/
.custom-font {
  font-family: "Alegreya Sans SC", sans-serif;
}

.custom-text {
  font-family: "Roboto", sans-serif;
}

.allerta-text {
  font-family: 'Allerta', sans-serif;
}

/* Card styles from the home page */
.custom-card-height {
  min-height: 150px; /* Adjust the height as needed */
}

.card-color-blue {
  background-color: #ACAACC; /* Your custom blue */
}

/* Card titles and numbers */
.card-number {
  margin-top: 20px;
  font-size: 36px; /* Large font size for the number */
  font-weight: bold;
  line-height: 1; /* Ensures the number is closely followed by the title */
  font-weight: 700
}

.card-title {
  font-size: 18px; /* Smaller font size for the title */
  color: #344767; /* White color for the title text */
  font-weight: normal;
  font-family: 'Allerta', sans-serif;
}

/* Apply custom fonts to relevant elements on the lessons page */
#lesson-title, #lesson-description, #lesson-difficulty {
  font-family: "Alegreya Sans SC", sans-serif; /* This is assuming you want to use Alegreya for these elements */
}

/* You may need to adjust card paddings to match the home page */
.card-body {
  padding: 2rem; /* Adjust based on home page padding */
}

  /* Styles for the lessons and wave graph cards */
  .card {
    border: none;
    border-radius: 15px;
    margin-bottom: 0; /* Reduce from larger values if necessary */
  }

  .card-body {
    padding: 1rem;
    padding-top: 0; /* Reduce or remove the top padding */
    position: relative; /* If not already set, for positioning context */
    overflow: hidden; /* Prevents content from spilling outside the card */

  }

  #wave-placeholder {
    width: 100%; /* Make canvas width responsive */
    max-width: 400px; /* Max width to prevent excessive expansion */
    height: 400px; /* Fixed height, adjust as needed */
    margin: auto; /* Center the canvas element */
}

  p {
    color: #8898aa;
    /* Adjust the color to match your brand color */
  }

  .lesson {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; /* Adds space between each lesson card if needed */
  }

  /* Styles for the lesson icon */
  .lesson-icon img {
  max-width: 100px; /* Adjust the value as needed */
  max-height: 100px; /* Adjust the value as needed */
  height: auto;
  width: auto; /* This will maintain the aspect ratio */
  display: block; /* To remove any extra space below the image */
  margin: 0 auto; /* This will center the image in its container */
}

.lesson-card {
  /* Add your existing styles here */
  margin: auto; /* This centers the card in the flex container */
  width: fit-content; /* Or a fixed width if you prefer */
  text-align: center;

}

  /* Styles for the buttons */
  .btn-primary {
    background-color: #ACAACC;
    /* Adjust the color to match your brand color */
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
  }

  .btn-secondary {
    background-color: #f4f5f7;
    /* Light grey background for secondary button */
    color: #306D9C;
    /* Adjust the color to match your brand color */
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
  }

  /* Styles for the Volume Wave graph container */
  .wave-graph-container {
    background-color: #f7fafc;
    /* Adjust the color to match your brand color */
    border-radius: 20px;
    padding: 1rem;
    text-align: center;
    width: 100%; /* Responsive to container size */
    max-width: 600px; /* Maximum width */
    height: 400px; /* Fixed height */
    margin: auto; /* Centering if needed */
    /* Center content if the graph is not as wide as the container */
  }

  /* Make sure the 'Analyze Progress' button is centered below the graph */
  #analyze-btn {
    display: block;
    margin: 1.5rem auto 0;
    /* Centers the button with top margin */
  }

  /* Additional styles for alignment and responsiveness */
  @media (min-width: 992px) {

    /* Adjust based on your breakpoints */
    .col-lg-8,
    .col-lg-4 {
      display: flex;
      flex-direction: column;
    }

    .col-lg-4 {
      justify-content: space-between;
      /* To push the Volume Wave card to the bottom */
    }
  }

  .progress-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  #skills-progress-container {
  margin-top: 0; /* Remove top margin if there's unnecessary space inside the card */
  }
  .progress {
  height: 20px; /* Adjust the height to make it more visible */
  background-color: #e9ecef; /* Light grey background */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden; /* Ensures that the inner bar doesn't overflow */
}

.progress-bar {
  height: 100%; /* Fills the entire height of the progress container */
  background-color: #ACAACC; /* The filled color part, same as your custom blue */
  border-radius: 10px 0 0 10px; /* Rounded corners on the left side */
  display: flex;
  align-items: center; /* Centers text vertically */
  justify-content: center; /* Centers text horizontally */
  color: white; /* Text color */
  font-weight: bold; /* Bold text */
  transition: width 0.6s ease; /* Smooth transition for the bar loading */
}


  .badge {
    display: inline-block;
    padding: 0.25em 0.6em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
  }

  /* Styles for the progress card containing the badge */
.progress-card {
  text-align: center;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 2rem; /* Space between cards */
  position: relative; /* For absolute positioning of the percentage */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Styles for the badge image container */
.badge-container {
  position: relative; /* To position the percentage text over the image */
  display: block;
  text-align: center; /* To fit the width of the content */
}

/* Styles for the badge image itself */
.badge-image {
  width: 100%; /* Adjust this to the size of your badge image */
  height: auto;
 
}

/* Position and style the percentage text */
.completion-percentage {
  position: absolute;
  top: 35%; /* Center vertically - adjust if needed */
  left: 50%; /* Center horizontally - adjust if needed */
  transform: translate(-50%, -50%);
  text-align: center; /* Adjust for exact centering */
  color: #344767; /* Adjust this color to suit your badge's color scheme */
  font-weight: bold;
}


/* Styles for the progress card title */
.progress-card-title {
  font-size: 1.25rem;
  color: #344767;
  margin-top: 2rem; /* Space from the top of the badge */
}

  .badge-beginner {
    color: #fff;
    background-color: #28a745; /* Green for beginner */
  }

  .badge-intermediate {
    color: #fff;
    background-color: #ffc107; /* Yellow for intermediate */
  }

  .badge-advanced {
    color: #fff;
    background-color: #dc3545; /* Red for advanced */
  }
  #skills-progress-container {
  margin-top: 0; /* Adjust this value if you want less space above the progress bars */
}

</style> {% endblock %} {% block content %} <div class="container-fluid py-4">
  <div class="row mb-4">
    <div class="col-12">
      <h1 class="fw-bold">Lessons</h1>
      <p>With Volume, tailoring your lessons was always part of the plan!</p>
    </div>
  </div>
  <div class="row">
    <!-- Left Column for Lessons -->
    <div class="col-lg-8">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Start a new challenge:</h5>
          <br>
          <div class="challenge-item">
            <div id="lessons-display"></div>
            <!-- <button id="start-confidence-boost" class="btn btn-secondary">Start Confidence Lesson</button> -->
          </div>
        </div>
      </div>

      <div class="card mb-4 text-center" style="margin-top:2%; opacity: 0.5;pointer-events: none;filter: grayscale(100%);">
        <div class="card-body">
          <!-- Static header to indicate the purpose of the section -->
          <h5 class="card-title">Or perhaps, pick up where you left off:</h5>
          <h6 id="lesson-title">Loading...</h6>
          <p id="lesson-description">Loading description...</p> <!-- Add this line -->
          <div id="lesson-difficulty" class="badge">Loading difficulty...</div> <!-- Add this line -->
          <p id="lesson-progress">Loading progress...</p> <!-- Add this line -->
          <div class="lesson-icon mb-3">
    <img id="lesson-image" src="" alt="Loading lesson image...">
</div>
<!-- Continue Lesson button -->
<button class="btn btn-primary" id="continue-lesson">Continue Lesson</button>
        </div>
      </div>

    </div>

          <!-- Lessons Completed Badge Card -->
<div class="col-lg-4">
  <div class="card mb-4 text-center">
    <div class="card-body">
      <div class="badge-container">
        <img src="{{ url_for('static', filename='assets/img/banner1.png') }}" alt="Badge" class="badge-image">
        <div class="completion-percentage" id="lessons-completion-percentage"></div>
      </div>
    </div>
  </div>
</div>

    
      <!-- Volume Wave Card -->
      <div class="card mb-4 text-center">
        <div class="card-body" style="height: 340px;">
          <h5>Your Volume™ Wave:</h5>
          <canvas id="wave-placeholder"></canvas>
        </div>
      </div>



<!-- Your Progress Card -->
<div class="card mb-4 text-center">
  <div class="card-body">
    <h5>Your Progress</h5>
    <div id="skills-progress-container">
      <div class="skill-progress">
        <label for="articulation-progress">Articulation</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" id="articulation-progress"></div>
        </div>
      </div>
      <div class="skill-progress">
        <label for="volume-progress">Volume</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" id="volume-progress"></div>
        </div>
      </div>
      <div class="skill-progress">
        <label for="rhythm-progress">Rhythm</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" id="rhythm-progress"></div>
        </div>
      </div>
      <div class="skill-progress">
        <label for="expression-progress">Expression</label>
        <div class="progress">
          <div class="progress-bar" role="progressbar" id="expression-progress"></div>
        </div>
      </div>
    </div>
  </div>
</div>

    
</div> {% endblock %} {% block javascripts %} 
<script src="{{ url_for('static', filename='assets/js/Lessons/lessons.js') }}"></script> 
<script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>{% endblock %}