{% extends 'layouts/base.html' %}

{% block title %} Edit Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/edit-profile.css">

<style>
    /* Custom CSS styles */
    .custom-file-input {
        width: calc(100% - 12rem); /* Set width same as bio input field */
    }

    .profile-pic {
        width: 150px; /* Define the size of the profile picture */
        height: 150px;
        object-fit: cover;
    }
</style>
{% endblock stylesheets %}

{% block content %}
<div class="container-fluid">
    <div class="page-header min-height-300 border-radius-xl mt-4" style="background-image: url('{{ config.ASSETS_ROOT }}/img/curved-images/curved1.jpg'); background-position-y: 50%;">
        <span class="mask bg-gradient-primary opacity-6"></span>
        <button class="btn btn-secondary blur shadow-blur" style="position: absolute; left: 0.5%; top: 2%; border-radius: 0.8rem; color: #3b416c;"onclick="window.location.href='/profilepage/{{ current_user.username }}'">◀ Discard Changes</button>
    </div>
    <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">

            <div class="container">
                <h2>Edit Profile</h2>
                <form action="/update_profile" method="POST" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label for="full_name" class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="full_name" name="full_name" {% if profile.full_name %} value="{{ profile.full_name }}" {% endif %} required>
                        </div>
                        <div class="col-md-6">
                            <label for="location" class="form-label">Location</label>
                            <select class="form-select" id="location" name="location">
                                <option selected disabled>Select Country</option>
                                <option value="🇦🇪"{% if profile.location == '🇦🇪' %} selected{% endif %}>United Arab Emirates</option>
                                <option value="🇬🇧"{% if profile.location == '🇬🇧' %} selected{% endif %}>United Kingdom</option>
                                <option value="🌎"{% if profile.location == '🌎' %} selected{% endif %}>International</option>
                                <option disabled>──────────────────────────────────────────</option>
                                <option value="🇦🇫"{% if profile.location == '🇦🇫' %} selected{% endif %}>Afghanistan</option>
                                <option value="🇦🇽"{% if profile.location == '🇦🇽' %} selected{% endif %}>Åland Islands</option>
                                <option value="🇦🇱"{% if profile.location == '🇦🇱' %} selected{% endif %}>Albania</option>
                                <option value="🇩🇿"{% if profile.location == '🇩🇿' %} selected{% endif %}>Algeria</option>
                                <option value="🇦🇸"{% if profile.location == '🇦🇸' %} selected{% endif %}>American Samoa</option>
                                <option value="🇦🇩"{% if profile.location == '🇦🇩' %} selected{% endif %}>Andorra</option>
                                <option value="🇦🇴"{% if profile.location == '🇦🇴' %} selected{% endif %}>Angola</option>
                                <option value="🇦🇮"{% if profile.location == '🇦🇮' %} selected{% endif %}>Anguilla</option>
                                <option value="🇦🇶"{% if profile.location == '🇦🇶' %} selected{% endif %}>Antarctica</option>
                                <option value="🇦🇬"{% if profile.location == '🇦🇬' %} selected{% endif %}>Antigua and Barbuda</option>
                                <option value="🇦🇷"{% if profile.location == '🇦🇷' %} selected{% endif %}>Argentina</option>
                                <option value="🇦🇲"{% if profile.location == '🇦🇲' %} selected{% endif %}>Armenia</option>
                                <option value="🇦🇼"{% if profile.location == '🇦🇼' %} selected{% endif %}>Aruba</option>
                                <option value="🇦🇺"{% if profile.location == '🇦🇺' %} selected{% endif %}>Australia</option>
                                <option value="🇦🇹"{% if profile.location == '🇦🇹' %} selected{% endif %}>Austria</option>
                                <option value="🇦🇿"{% if profile.location == '🇦🇿' %} selected{% endif %}>Azerbaijan</option>
                                <option value="🇧🇸"{% if profile.location == '🇧🇸' %} selected{% endif %}>Bahamas</option>
                                <option value="🇧🇭"{% if profile.location == '🇧🇭' %} selected{% endif %}>Bahrain</option>
                                <option value="🇧🇩"{% if profile.location == '🇧🇩' %} selected{% endif %}>Bangladesh</option>
                                <option value="🇧🇧"{% if profile.location == '🇧🇧' %} selected{% endif %}>Barbados</option>
                                <option value="🇧🇾"{% if profile.location == '🇧🇾' %} selected{% endif %}>Belarus</option>
                                <option value="🇧🇪"{% if profile.location == '🇧🇪' %} selected{% endif %}>Belgium</option>
                                <option value="🇧🇿"{% if profile.location == '🇧🇿' %} selected{% endif %}>Belize</option>
                                <option value="🇧🇯"{% if profile.location == '🇧🇯' %} selected{% endif %}>Benin</option>
                                <option value="🇧🇲"{% if profile.location == '🇧🇲' %} selected{% endif %}>Bermuda</option>
                                <option value="🇧🇹"{% if profile.location == '🇧🇹' %} selected{% endif %}>Bhutan</option>
                                <option value="🇧🇴"{% if profile.location == '🇧🇴' %} selected{% endif %}>Bolivia</option>
                                <option value="🇧🇦"{% if profile.location == '🇧🇦' %} selected{% endif %}>Bosnia and Herzegovina</option>
                                <option value="🇧🇼"{% if profile.location == '🇧🇼' %} selected{% endif %}>Botswana</option>
                                <option value="🇧🇻"{% if profile.location == '🇧🇻' %} selected{% endif %}>Bouvet Island</option>
                                <option value="🇧🇷"{% if profile.location == '🇧🇷' %} selected{% endif %}>Brazil</option>
                                <option value="🇮🇴"{% if profile.location == '🇮🇴' %} selected{% endif %}>British Indian Ocean Territory</option>
                                <option value="🇧🇳"{% if profile.location == '🇧🇳' %} selected{% endif %}>Brunei Darussalam</option>
                                <option value="🇧🇬"{% if profile.location == '🇧🇬' %} selected{% endif %}>Bulgaria</option>
                                <option value="🇧🇫"{% if profile.location == '🇧🇫' %} selected{% endif %}>Burkina Faso</option>
                                <option value="🇧🇮"{% if profile.location == '🇧🇮' %} selected{% endif %}>Burundi</option>
                                <option value="🇰🇭"{% if profile.location == '🇰🇭' %} selected{% endif %}>Cambodia</option>
                                <option value="🇨🇲"{% if profile.location == '🇨🇲' %} selected{% endif %}>Cameroon</option>
                                <option value="🇨🇦"{% if profile.location == '🇨🇦' %} selected{% endif %}>Canada</option>
                                <option value="🇨🇻"{% if profile.location == '🇨🇻' %} selected{% endif %}>Cape Verde</option>
                                <option value="🇰🇾"{% if profile.location == '🇰🇾' %} selected{% endif %}>Cayman Islands</option>
                                <option value="🇨🇫"{% if profile.location == '🇨🇫' %} selected{% endif %}>Central African Republic</option>
                                <option value="🇹🇩"{% if profile.location == '🇹🇩' %} selected{% endif %}>Chad</option>
                                <option value="🇨🇱"{% if profile.location == '🇨🇱' %} selected{% endif %}>Chile</option>
                                <option value="🇨🇳"{% if profile.location == '🇨🇳' %} selected{% endif %}>China</option>
                                <option value="🇨🇽"{% if profile.location == '🇨🇽' %} selected{% endif %}>Christmas Island</option>
                                <option value="🇨🇨"{% if profile.location == '🇨🇨' %} selected{% endif %}>Cocos (Keeling) Islands</option>
                                <option value="🇨🇴"{% if profile.location == '🇨🇴' %} selected{% endif %}>Colombia</option>
                                <option value="🇰🇲"{% if profile.location == '🇰🇲' %} selected{% endif %}>Comoros</option>
                                <option value="🇨🇬"{% if profile.location == '🇨🇬' %} selected{% endif %}>Congo</option>
                                <option value="🇨🇩"{% if profile.location == '🇨🇩' %} selected{% endif %}>Congo, The Democratic Republic of The</option>
                                <option value="🇨🇰"{% if profile.location == '🇨🇰' %} selected{% endif %}>Cook Islands</option>
                                <option value="🇨🇷"{% if profile.location == '🇨🇷' %} selected{% endif %}>Costa Rica</option>
                                <option value="🇨🇮"{% if profile.location == '🇨🇮' %} selected{% endif %}>Cote D'ivoire</option>
                                <option value="🇭🇷"{% if profile.location == '🇭🇷' %} selected{% endif %}>Croatia</option>
                                <option value="🇨🇺"{% if profile.location == '🇨🇺' %} selected{% endif %}>Cuba</option>
                                <option value="🇨🇾"{% if profile.location == '🇨🇾' %} selected{% endif %}>Cyprus</option>
                                <option value="🇨🇿"{% if profile.location == '🇨🇿' %} selected{% endif %}>Czech Republic</option>
                                <option value="🇩🇰"{% if profile.location == '🇩🇰' %} selected{% endif %}>Denmark</option>
                                <option value="🇩🇯"{% if profile.location == '🇩🇯' %} selected{% endif %}>Djibouti</option>
                                <option value="🇩🇲"{% if profile.location == '🇩🇲' %} selected{% endif %}>Dominica</option>
                                <option value="🇩🇴"{% if profile.location == '🇩🇴' %} selected{% endif %}>Dominican Republic</option>
                                <option value="🇪🇨"{% if profile.location == '🇪🇨' %} selected{% endif %}>Ecuador</option>
                                <option value="🇪🇬"{% if profile.location == '🇪🇬' %} selected{% endif %}>Egypt</option>
                                <option value="🇸🇻"{% if profile.location == '🇸🇻' %} selected{% endif %}>El Salvador</option>
                                <option value="🇬🇶"{% if profile.location == '🇬🇶' %} selected{% endif %}>Equatorial Guinea</option>
                                <option value="🇪🇷"{% if profile.location == '🇪🇷' %} selected{% endif %}>Eritrea</option>
                                <option value="🇪🇪"{% if profile.location == '🇪🇪' %} selected{% endif %}>Estonia</option>
                                <option value="🇪🇹"{% if profile.location == '🇪🇹' %} selected{% endif %}>Ethiopia</option>
                                <option value="🇫🇰"{% if profile.location == '🇫🇰' %} selected{% endif %}>Falkland Islands</option>
                                <option value="🇫🇴"{% if profile.location == '🇫🇴' %} selected{% endif %}>Faroe Islands</option>
                                <option value="🇫🇯"{% if profile.location == '🇫🇯' %} selected{% endif %}>Fiji</option>
                                <option value="🇫🇮"{% if profile.location == '🇫🇮' %} selected{% endif %}>Finland</option>
                                <option value="🇫🇷"{% if profile.location == '🇫🇷' %} selected{% endif %}>France</option>
                                <option value="🇬🇫"{% if profile.location == '🇬🇫' %} selected{% endif %}>French Guiana</option>
                                <option value="🇵🇫"{% if profile.location == '🇵🇫' %} selected{% endif %}>French Polynesia</option>
                                <option value="🇹🇫"{% if profile.location == '🇹🇫' %} selected{% endif %}>French Southern Territories</option>
                                <option value="🇬🇦"{% if profile.location == '🇬🇦' %} selected{% endif %}>Gabon</option>
                                <option value="🇬🇲"{% if profile.location == '🇬🇲' %} selected{% endif %}>Gambia</option>
                                <option value="🇬🇪"{% if profile.location == '🇬🇪' %} selected{% endif %}>Georgia</option>
                                <option value="🇩🇪"{% if profile.location == '🇩🇪' %} selected{% endif %}>Germany</option>
                                <option value="🇬🇭"{% if profile.location == '🇬🇭' %} selected{% endif %}>Ghana</option>
                                <option value="🇬🇮"{% if profile.location == '🇬🇮' %} selected{% endif %}>Gibraltar</option>
                                <option value="🇬🇷"{% if profile.location == '🇬🇷' %} selected{% endif %}>Greece</option>
                                <option value="🇬🇱"{% if profile.location == '🇬🇱' %} selected{% endif %}>Greenland</option>
                                <option value="🇬🇩"{% if profile.location == '🇬🇩' %} selected{% endif %}>Grenada</option>
                                <option value="🇬🇵"{% if profile.location == '🇬🇵' %} selected{% endif %}>Guadeloupe</option>
                                <option value="🇬🇺"{% if profile.location == '🇬🇺' %} selected{% endif %}>Guam</option>
                                <option value="🇬🇹"{% if profile.location == '🇬🇹' %} selected{% endif %}>Guatemala</option>
                                <option value="🇬🇬"{% if profile.location == '🇬🇬' %} selected{% endif %}>Guernsey</option>
                                <option value="🇬🇳"{% if profile.location == '🇬🇳' %} selected{% endif %}>Guinea</option>
                                <option value="🇬🇼"{% if profile.location == '🇬🇼' %} selected{% endif %}>Guinea-Bissau</option>
                                <option value="🇬🇾"{% if profile.location == '🇬🇾' %} selected{% endif %}>Guyana</option>
                                <option value="🇭🇹"{% if profile.location == '🇭🇹' %} selected{% endif %}>Haiti</option>
                                <option value="🇭🇲"{% if profile.location == '🇭🇲' %} selected{% endif %}>Heard Island and McDonald Islands</option>
                                <option value="🇻🇦"{% if profile.location == '🇻🇦' %} selected{% endif %}>Holy See (Vatican City State)</option>
                                <option value="🇭🇳"{% if profile.location == '🇭🇳' %} selected{% endif %}>Honduras</option>
                                <option value="🇭🇰"{% if profile.location == '🇭🇰' %} selected{% endif %}>Hong Kong</option>
                                <option value="🇭🇺"{% if profile.location == '🇭🇺' %} selected{% endif %}>Hungary</option>
                                <option value="🇮🇸"{% if profile.location == '🇮🇸' %} selected{% endif %}>Iceland</option>
                                <option value="🇮🇳"{% if profile.location == '🇮🇳' %} selected{% endif %}>India</option>
                                <option value="🇮🇩"{% if profile.location == '🇮🇩' %} selected{% endif %}>Indonesia</option>
                                <option value="🇮🇷"{% if profile.location == '🇮🇷' %} selected{% endif %}>Iran</option>
                                <option value="🇮🇶"{% if profile.location == '🇮🇶' %} selected{% endif %}>Iraq</option>
                                <option value="🇮🇪"{% if profile.location == '🇮🇪' %} selected{% endif %}>Ireland</option>
                                <option value="🇮🇲"{% if profile.location == '🇮🇲' %} selected{% endif %}>Isle of Man</option>
                                <option value="🇮🇱"{% if profile.location == '🇮🇱' %} selected{% endif %}>Israel</option>
                                <option value="🇮🇹"{% if profile.location == '🇮🇹' %} selected{% endif %}>Italy</option>
                                <option value="🇯🇲"{% if profile.location == '🇯🇲' %} selected{% endif %}>Jamaica</option>
                                <option value="🇯🇵"{% if profile.location == '🇯🇵' %} selected{% endif %}>Japan</option>
                                <option value="🇯🇪"{% if profile.location == '🇯🇪' %} selected{% endif %}>Jersey</option>
                                <option value="🇯🇴"{% if profile.location == '🇯🇴' %} selected{% endif %}>Jordan</option>
                                <option value="🇰🇿"{% if profile.location == '🇰🇿' %} selected{% endif %}>Kazakhstan</option>
                                <option value="🇰🇪"{% if profile.location == '🇰🇪' %} selected{% endif %}>Kenya</option>
                                <option value="🇰🇮"{% if profile.location == '🇰🇮' %} selected{% endif %}>Kiribati</option>
                                <option value="🇰🇵"{% if profile.location == '🇰🇵' %} selected{% endif %}>North Korea</option>
                                <option value="🇰🇷"{% if profile.location == '🇰🇷' %} selected{% endif %}>South Korea</option>
                                <option value="🇰🇼"{% if profile.location == '🇰🇼' %} selected{% endif %}>Kuwait</option>
                                <option value="🇰🇬"{% if profile.location == '🇰🇬' %} selected{% endif %}>Kyrgyzstan</option>
                                <option value="🇱🇦"{% if profile.location == '🇱🇦' %} selected{% endif %}>Lao People's Democratic Republic</option>
                                <option value="🇱🇻"{% if profile.location == '🇱🇻' %} selected{% endif %}>Latvia</option>
                                <option value="🇱🇧"{% if profile.location == '🇱🇧' %} selected{% endif %}>Lebanon</option>
                                <option value="🇱🇸"{% if profile.location == '🇱🇸' %} selected{% endif %}>Lesotho</option>
                                <option value="🇱🇷"{% if profile.location == '🇱🇷' %} selected{% endif %}>Liberia</option>
                                <option value="🇱🇾"{% if profile.location == '🇱🇾' %} selected{% endif %}>Libyan Arab Jamahiriya</option>
                                <option value="🇱🇮"{% if profile.location == '🇱🇮' %} selected{% endif %}>Liechtenstein</option>
                                <option value="🇱🇹"{% if profile.location == '🇱🇹' %} selected{% endif %}>Lithuania</option>
                                <option value="🇱🇺"{% if profile.location == '🇱🇺' %} selected{% endif %}>Luxembourg</option>
                                <option value="🇲🇴"{% if profile.location == '🇲🇴' %} selected{% endif %}>Macao</option>
                                <option value="🇲🇰"{% if profile.location == '🇲🇰' %} selected{% endif %}>North Macedonia</option>
                                <option value="🇲🇬"{% if profile.location == '🇲🇬' %} selected{% endif %}>Madagascar</option>
                                <option value="🇲🇼"{% if profile.location == '🇲🇼' %} selected{% endif %}>Malawi</option>
                                <option value="🇲🇾"{% if profile.location == '🇲🇾' %} selected{% endif %}>Malaysia</option>
                                <option value="🇲🇻"{% if profile.location == '🇲🇻' %} selected{% endif %}>Maldives</option>
                                <option value="🇲🇱"{% if profile.location == '🇲🇱' %} selected{% endif %}>Mali</option>
                                <option value="🇲🇹"{% if profile.location == '🇲🇹' %} selected{% endif %}>Malta</option>
                                <option value="🇲🇭"{% if profile.location == '🇲🇭' %} selected{% endif %}>Marshall Islands</option>
                                <option value="🇲🇶"{% if profile.location == '🇲🇶' %} selected{% endif %}>Martinique</option>
                                <option value="🇲🇷"{% if profile.location == '🇲🇷' %} selected{% endif %}>Mauritania</option>
                                <option value="🇲🇺"{% if profile.location == '🇲🇺' %} selected{% endif %}>Mauritius</option>
                                <option value="🇾🇹"{% if profile.location == '🇾🇹' %} selected{% endif %}>Mayotte</option>
                                <option value="🇲🇽"{% if profile.location == '🇲🇽' %} selected{% endif %}>Mexico</option>
                                <option value="🇫🇲"{% if profile.location == '🇫🇲' %} selected{% endif %}>Micronesia</option>
                                <option value="🇲🇩"{% if profile.location == '🇲🇩' %} selected{% endif %}>Moldova</option>
                                <option value="🇲🇨"{% if profile.location == '🇲🇨' %} selected{% endif %}>Monaco</option>
                                <option value="🇲🇳"{% if profile.location == '🇲🇳' %} selected{% endif %}>Mongolia</option>
                                <option value="🇲🇪"{% if profile.location == '🇲🇪' %} selected{% endif %}>Montenegro</option>
                                <option value="🇲🇸"{% if profile.location == '🇲🇸' %} selected{% endif %}>Montserrat</option>
                                <option value="🇲🇦"{% if profile.location == '🇲🇦' %} selected{% endif %}>Morocco</option>
                                <option value="🇲🇿"{% if profile.location == '🇲🇿' %} selected{% endif %}>Mozambique</option>
                                <option value="🇲🇲"{% if profile.location == '🇲🇲' %} selected{% endif %}>Myanmar</option>
                                <option value="🇳🇦"{% if profile.location == '🇳🇦' %} selected{% endif %}>Namibia</option>
                                <option value="🇳🇷"{% if profile.location == '🇳🇷' %} selected{% endif %}>Nauru</option>
                                <option value="🇳🇵"{% if profile.location == '🇳🇵' %} selected{% endif %}>Nepal</option>
                                <option value="🇳🇱"{% if profile.location == '🇳🇱' %} selected{% endif %}>Netherlands</option>
                                <option value="🇳🇨"{% if profile.location == '🇳🇨' %} selected{% endif %}>New Caledonia</option>
                                <option value="🇳🇿"{% if profile.location == '🇳🇿' %} selected{% endif %}>New Zealand</option>
                                <option value="🇳🇮"{% if profile.location == '🇳🇮' %} selected{% endif %}>Nicaragua</option>
                                <option value="🇳🇪"{% if profile.location == '🇳🇪' %} selected{% endif %}>Niger</option>
                                <option value="🇳🇬"{% if profile.location == '🇳🇬' %} selected{% endif %}>Nigeria</option>
                                <option value="🇳🇺"{% if profile.location == '🇳🇺' %} selected{% endif %}>Niue</option>
                                <option value="🇳🇫"{% if profile.location == '🇳🇫' %} selected{% endif %}>Norfolk Island</option>
                                <option value="🇲🇵"{% if profile.location == '🇲🇵' %} selected{% endif %}>Northern Mariana Islands</option>
                                <option value="🇳🇴"{% if profile.location == '🇳🇴' %} selected{% endif %}>Norway</option>
                                <option value="🇴🇲"{% if profile.location == '🇴🇲' %} selected{% endif %}>Oman</option>
                                <option value="🇵🇰"{% if profile.location == '🇵🇰' %} selected{% endif %}>Pakistan</option>
                                <option value="🇵🇼"{% if profile.location == '🇵🇼' %} selected{% endif %}>Palau</option>
                                <option value="🇵🇸"{% if profile.location == '🇵🇸' %} selected{% endif %}>Palestine</option>
                                <option value="🇵🇦"{% if profile.location == '🇵🇦' %} selected{% endif %}>Panama</option>
                                <option value="🇵🇬"{% if profile.location == '🇵🇬' %} selected{% endif %}>Papua New Guinea</option>
                                <option value="🇵🇾"{% if profile.location == '🇵🇾' %} selected{% endif %}>Paraguay</option>
                                <option value="🇵🇪"{% if profile.location == '🇵🇪' %} selected{% endif %}>Peru</option>
                                <option value="🇵🇭"{% if profile.location == '🇵🇭' %} selected{% endif %}>Philippines</option>
                                <option value="🇵🇳"{% if profile.location == '🇵🇳' %} selected{% endif %}>Pitcairn</option>
                                <option value="🇵🇱"{% if profile.location == '🇵🇱' %} selected{% endif %}>Poland</option>
                                <option value="🇵🇹"{% if profile.location == '🇵🇹' %} selected{% endif %}>Portugal</option>
                                <option value="🇵🇷"{% if profile.location == '🇵🇷' %} selected{% endif %}>Puerto Rico</option>
                                <option value="🇶🇦"{% if profile.location == '🇶🇦' %} selected{% endif %}>Qatar</option>
                                <option value="🇷🇪"{% if profile.location == '🇷🇪' %} selected{% endif %}>Reunion</option>
                                <option value="🇷🇴"{% if profile.location == '🇷🇴' %} selected{% endif %}>Romania</option>
                                <option value="🇷🇺"{% if profile.location == '🇷🇺' %} selected{% endif %}>Russian Federation</option>
                                <option value="🇷🇼"{% if profile.location == '🇷🇼' %} selected{% endif %}>Rwanda</option>
                                <option value="🇸🇭"{% if profile.location == '🇸🇭' %} selected{% endif %}>Saint Helena</option>
                                <option value="🇰🇳"{% if profile.location == '🇰🇳' %} selected{% endif %}>Saint Kitts and Nevis</option>
                                <option value="🇱🇨"{% if profile.location == '🇱🇨' %} selected{% endif %}>Saint Lucia</option>
                                <option value="🇵🇲"{% if profile.location == '🇵🇲' %} selected{% endif %}>Saint Pierre and Miquelon</option>
                                <option value="🇻🇨"{% if profile.location == '🇻🇨' %} selected{% endif %}>Saint Vincent and The Grenadines</option>
                                <option value="🇼🇸"{% if profile.location == '🇼🇸' %} selected{% endif %}>Samoa</option>
                                <option value="🇸🇲"{% if profile.location == '🇸🇲' %} selected{% endif %}>San Marino</option>
                                <option value="🇸🇹"{% if profile.location == '🇸🇹' %} selected{% endif %}>Sao Tome and Principe</option>
                                <option value="🇸🇦"{% if profile.location == '🇸🇦' %} selected{% endif %}>Saudi Arabia</option>
                                <option value="🇸🇳"{% if profile.location == '🇸🇳' %} selected{% endif %}>Senegal</option>
                                <option value="🇷🇸"{% if profile.location == '🇷🇸' %} selected{% endif %}>Serbia</option>
                                <option value="🇸🇨"{% if profile.location == '🇸🇨' %} selected{% endif %}>Seychelles</option>
                                <option value="🇸🇱"{% if profile.location == '🇸🇱' %} selected{% endif %}>Sierra Leone</option>
                                <option value="🇸🇬"{% if profile.location == '🇸🇬' %} selected{% endif %}>Singapore</option>
                                <option value="🇸🇰"{% if profile.location == '🇸🇰' %} selected{% endif %}>Slovakia</option>
                                <option value="🇸🇮"{% if profile.location == '🇸🇮' %} selected{% endif %}>Slovenia</option>
                                <option value="🇸🇧"{% if profile.location == '🇸🇧' %} selected{% endif %}>Solomon Islands</option>
                                <option value="🇸🇴"{% if profile.location == '🇸🇴' %} selected{% endif %}>Somalia</option>
                                <option value="🇿🇦"{% if profile.location == '🇿🇦' %} selected{% endif %}>South Africa</option>
                                <option value="🇬🇸"{% if profile.location == '🇬🇸' %} selected{% endif %}>South Georgia and The South Sandwich Islands</option>
                                <option value="🇪🇸"{% if profile.location == '🇪🇸' %} selected{% endif %}>Spain</option>
                                <option value="🇱🇰"{% if profile.location == '🇱🇰' %} selected{% endif %}>Sri Lanka</option>
                                <option value="🇸🇩"{% if profile.location == '🇸🇩' %} selected{% endif %}>Sudan</option>
                                <option value="🇸🇷"{% if profile.location == '🇸🇷' %} selected{% endif %}>Suriname</option>
                                <option value="🇸🇯"{% if profile.location == '🇸🇯' %} selected{% endif %}>Svalbard and Jan Mayen</option>
                                <option value="🇸🇿"{% if profile.location == '🇸🇿' %} selected{% endif %}>Swaziland</option>
                                <option value="🇸🇪"{% if profile.location == '🇸🇪' %} selected{% endif %}>Sweden</option>
                                <option value="🇨🇭"{% if profile.location == '🇨🇭' %} selected{% endif %}>Switzerland</option>
                                <option value="🇸🇾"{% if profile.location == '🇸🇾' %} selected{% endif %}>Syrian Arab Republic</option>
                                <option value="🇹🇼"{% if profile.location == '🇹🇼' %} selected{% endif %}>Taiwan</option>
                                <option value="🇹🇯"{% if profile.location == '🇹🇯' %} selected{% endif %}>Tajikistan</option>
                                <option value="🇹🇿"{% if profile.location == '🇹🇿' %} selected{% endif %}>Tanzania</option>
                                <option value="🇹🇭"{% if profile.location == '🇹🇭' %} selected{% endif %}>Thailand</option>
                                <option value="🇹🇱"{% if profile.location == '🇹🇱' %} selected{% endif %}>Timor-Leste</option>
                                <option value="🇹🇬"{% if profile.location == '🇹🇬' %} selected{% endif %}>Togo</option>
                                <option value="🇹🇰"{% if profile.location == '🇹🇰' %} selected{% endif %}>Tokelau</option>
                                <option value="🇹🇴"{% if profile.location == '🇹🇴' %} selected{% endif %}>Tonga</option>
                                <option value="🇹🇹"{% if profile.location == '🇹🇹' %} selected{% endif %}>Trinidad and Tobago</option>
                                <option value="🇹🇳"{% if profile.location == '🇹🇳' %} selected{% endif %}>Tunisia</option>
                                <option value="🇹🇷"{% if profile.location == '🇹🇷' %} selected{% endif %}>Turkey</option>
                                <option value="🇹🇲"{% if profile.location == '🇹🇲' %} selected{% endif %}>Turkmenistan</option>
                                <option value="🇹🇨"{% if profile.location == '🇹🇨' %} selected{% endif %}>Turks and Caicos Islands</option>
                                <option value="🇹🇻"{% if profile.location == '🇹🇻' %} selected{% endif %}>Tuvalu</option>
                                <option value="🇺🇬"{% if profile.location == '🇺🇬' %} selected{% endif %}>Uganda</option>
                                <option value="🇺🇦"{% if profile.location == '🇺🇦' %} selected{% endif %}>Ukraine</option>
                                <option value="🇺🇸"{% if profile.location == '🇺🇸' %} selected{% endif %}>United States</option>
                                <option value="🇺🇲"{% if profile.location == '🇺🇲' %} selected{% endif %}>United States Minor Outlying Islands</option>
                                <option value="🇺🇾"{% if profile.location == '🇺🇾' %} selected{% endif %}>Uruguay</option>
                                <option value="🇺🇿"{% if profile.location == '🇺🇿' %} selected{% endif %}>Uzbekistan</option>
                                <option value="🇺🇿"{% if profile.location == '🇺🇿' %} selected{% endif %}>Vanuatu</option>
                                <option value="🇻🇪"{% if profile.location == '🇻🇪' %} selected{% endif %}>Venezuela</option>
                                <option value="🇻🇳"{% if profile.location == '🇻🇳' %} selected{% endif %}>Viet Nam</option>
                                <option value="🇻🇬"{% if profile.location == '🇻🇬' %} selected{% endif %}>Virgin Islands, British</option>
                                <option value="🇻🇮"{% if profile.location == '🇻🇮' %} selected{% endif %}>Virgin Islands, U.S.</option>
                                <option value="🇼🇫"{% if profile.location == '🇼🇫' %} selected{% endif %}>Wallis and Futuna</option>
                                <option value="🇪🇭"{% if profile.location == '🇪🇭' %} selected{% endif %}>Western Sahara</option>
                                <option value="🇾🇪"{% if profile.location == '🇾🇪' %} selected{% endif %}>Yemen</option>
                                <option value="🇿🇲"{% if profile.location == '🇿🇲' %} selected{% endif %}>Zambia</option>
                                <option value="🇿🇼"{% if profile.location == '🇿🇼' %} selected{% endif %}>Zimbabwe</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="bio" class="form-label">Bio</label>
                        <textarea class="form-control" id="bio" name="bio" rows="4">{% if profile.bio %}{{ profile.bio }}{% endif %}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="profilepic" class="form-label">Profile Picture</label>
                        <div class="d-flex align-items-center">
                            <input type="file" class="form-control me-3" id="profilepic" name="profilepic" accept="image/*">
                            <label for="profilepic" class="btn btn-secondary">Upload</label>
                        </div>
                        {% if profile.profile_picture %}
                        <img src="data:image/jpeg;base64,{{ current_base64_encoded_image }}" alt="Profile Picture" class="profile-pic mt-2" id="profilePicPreview">
                        {% else %}
                        <img src="{{ config.ASSETS_ROOT }}/img/default-avatar-icon-of-social-media-user-vector.jpeg" alt="Profile Picture" class="profile-pic mt-2" id="profilePicPreview">
                        {% endif %}
                    </div>
                    <button id="submitBtn" type="submit" class="btn btn-primary" onclick="validateForm()">Save Changes</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% include "includes/footer.html" %}
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="{{config.ASSETS_ROOT }}/js/profilepage/profilepage.js"></script>
<script>
    document.getElementById('profilepic').addEventListener('change', function() {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('profilePicPreview').src = e.target.result;
        }
        reader.readAsDataURL(this.files[0]);
    });
</script>

{% endblock javascripts %}
