{% if current_user.is_authenticated %}
{% extends 'layouts/base.html' %}
{% else %}
{% extends 'layouts/base-fullscreen.html' %}
{% endif %}

{% block title %}API Documentation{% endblock %}

{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism.min.css" rel="stylesheet" />
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<div class="container-fluid py-4">
    <div class="row mb-4">
        <div class="col-md-8">

            
            {% else %}
            <div class="container position-sticky z-index-sticky top-1">
                <div class="row">
                  <div class="col-12">
            
                    {% include "includes/navigation-fullscreen.html" %}
            
                  </div>
                </div>
              </div>
            
                <div class="container-fluid">
                    <div class="page-header min-height-300 border-radius-xl mt-2" style="background-image: url('{{ config.ASSETS_ROOT }}/img/curved-images/curved14.jpg'); background-position-y: 50%;">
                        <span class="mask bg-gradient-primary opacity-6"></span>
                      </div>
                      <div class="card card-body blur shadow-blur mx-7 mt-n9 overflow-hidden">
                        <div class="row gx-4">
                          <div class="col-12">
            {% endif %}

            <h1 class="fw-bold">API Documentation</h1>

            <p>Our scoring API is publicly available for use. Users can generate an API key to access the API services.</p>
            <hr style="border: 1px solid black;">

            <h2>API Key</h2>
            {% if current_user.is_authenticated %}
            {% if api_key %}
            <p>Your API key: <span style="font-weight: bold;">{{ api_key.api_key }}</span></p>
            {% else %}
            <p>An API key is required to call the API. You can register for an API key by clicking the button below:</p>
            <a href="{{ url_for('access-api.register_api') }}" class="btn btn-primary">Register API Key</a>
            {% endif %}
            {% else %}
            <p>An API key is required to call the API. Please Sign in or Sign Up to generate an API key. Reload this page after signing in.</p>
            <a href="/login" class="btn btn-primary" target="_blank">Sign In</a>
            <a href="/register" class="btn btn-secondary" target="_blank">Sign Up</a>
            {% endif %}

            <hr style="border: 1px solid black;">


            <h2>API Usage</h2>

            <p>The API allows users to analyze speech data provided in MP3 format.</p> 
              <h4>Input Values</h4>
              <p>Users are required to send the following data to the API:</p>
              <ul>
                  <li><strong>file:</strong> The MP3 file containing the speech data to be analyzed.</li>
                  <li><strong>api_key:</strong> The API key generated by the user for authentication purposes.</li>
                  <li><strong>expected_sentiments:</strong> A JSON object containing the expected emotional sentiments desired in the speech. The object should follow this format:</li>
              </ul>

              <pre><code class="language-javascript">{"optimism": 0.6, "excitement": 0.4, "caring": 0.4}</code></pre>

              <p>This example indicates that the user ideally wants the speech to be 60% optimistic, with bonus points to being close to 40% excited and/or 40% caring</p>

            <h4>Return Values</h4>
            <p>Upon sending the MP3 file and expected sentiments, the API returns the following information:</p>
            <ul>
                <li><strong>sentiment_score:</strong> A score out of 10, indicating the overall quality of the speech in terms of meeting the expected sentiments. Example: <code>8.4</code></li>
                <li><strong>pace_score:</strong> A score out of 10, indicating the overall pace or speed of the speech. Higher scores suggest a faster pace, while lower scores suggest a slower pace. Example: <code>5.7</code></li>
                <li><strong>diction_score:</strong> A score out of 10, indicating the overall quality of the word choice and vocabulary used in the speech. Higher scores suggest more effective and appropriate use of language, while lower scores suggest poorer word choice and bad grammar. Example: <code>4.5</code></li>              
                  <li><strong>total_score:</strong> A score out of 10, indicating the overall quality of the speech in terms of overall speech. Example: <code>9.0</code></li>
                <li><strong>tone_data:</strong> An array of tone data points indicating the pitch variations in the speech. Example: <code>[0, 60, 50, ...]</code></li>
                <li><strong>tone_times:</strong> An array of tone times indicating the time stamps for the pitch variations in the speech. Example: <code>[0, 0.25, 0.5, ...]</code></li>
                <li><strong>user_sentiments (SamLowe's Model):</strong> An array of objects representing the actual emotional content of the speech. Each object contains a <code>label</code> indicating the sentiment label (e.g., "caring") and a <code>score</code> indicating the sentiment score ranging from 0 to 1. Example:</li>
                <pre> <code class="language-javascript">[
                {
                    "label": "caring",
                    "score": 0.24102665483951569
                },
                {
                    "label": "optimism",
                    "score": 0.654987123456789
                },
                ...
]  </code></pre>
</li>
<li><strong>user_speech:</strong> A transcription of the user's speech, providing a textual representation of what was said. Example: <code>"John seriously stop whining about your academic pressure..."</code></li>
</ul>
            
<hr style="border: 1px solid black;">

<h2>Example Code</h2>
<p>Below is an example of how to call the API using JavaScript:</p>

<pre><code class="language-javascript">
const apiKey = 'YOUR_API_KEY';

// Replace 'expectedSentiments' with your expected sentiments dictionary
const expectedSentiments = {
    "positive": 0.5,
    "negative": 0.3,
    "neutral": 0.2
};

// Function to send the POST request
async function sendRequest(mp3File) {
    // Create a FormData object to send multipart/form-data
    const formData = new FormData();
    formData.append('file', mp3File);
    formData.append('api_key', apiKey);
    formData.append('expected_sentiments', JSON.stringify(expectedSentiments));

    try {
        const response = await fetch('http://localhost:5000/api/analyze_speech', {
            method: 'POST',
            body: formData
        });

        // Check if the response is successful (status code 200-299)
        if (response.ok) {
            const data = await response.json();
            console.log(data); // Do something with the response data
        } else {
            console.error('Failed to fetch:', response.statusText);
        }
    } catch (error) {
        console.error('Error:', error);
    }
}

// Function to handle file selection
function handleFile() {
    const fileInput = document.getElementById('file-input');
    const file = fileInput.files[0]; // Get the selected file
    sendRequest(file); // Send the file to the server
}
</code></pre>

<p>To use this code, replace <code>'YOUR_API_KEY'</code> with your actual API key and adjust the <code>expectedSentiments</code> object according to your desired sentiments. Call the <code>handleFile</code> function when you want to send a file to the API.</p>

{% if current_user.is_authenticated %}
        </div>
    </div>
    <!-- Your Progress Card -->
    <div class="container-fluid">
    {% include "includes/footer.html" %}
    </div>
</div>
{% else %}
</div>
</div>
</div> 

</div>

<div class="container-fluid py-4">

{% include "includes/footer-fullscreen.html" %}

</div>
{% endif %}
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/prism.min.js"></script>
<script src="{{ url_for('static', filename='assets/js/Lessons/lessons.js') }}"></script>
<script src="{{ config.ASSETS_ROOT }}/js/plugins/chartjs.min.js"></script>
<script>
    document.getElementById('dynamic-breadcrumb').innerText = "API Documentation";
</script>
{% endblock %}
