{% extends 'layouts/base-fullscreen.html' %}

{% block stylesheets %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,400i,700,700i" rel="stylesheet">

<!-- Your existing styles -->
<style>

.notes-container {
    background-color: #fff; /* White background */
    border: 1px solid #eaecef; /* Light border for the container */
    border-radius: 4px; /* Slightly rounded corners for the container */
    padding: 20px; /* Padding around the content */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow around the container */
  }
  
  #full-editor-container {
    min-height: 500px; /* Adjust the height as needed */
  } 

  .hello { font-family: 'Alegreya Sans SC', sans-serif; }


</style>


{% endblock stylesheets %}


{% block content %}
<div class="note-full-page">
    <div class="container">
        <!-- Apply the .hello class to your title -->
        <h1 class="mt-5 hello">Personal Notes - Full View</h1>
        <div class="notes-container mt-3">
            <div id="full-editor-container">
                {{ note_content|safe }}
            </div>
        </div>
        <!-- Add a button to go back to the dashboard -->
        <button class="btn btn-primary mt-3" onclick="window.location.href='{{ url_for('home.index') }}'">Back to Dashboard</button>
    </div>
</div>
{% endblock %}



{% block javascripts %}
{% endblock %}
