{% extends "layouts/base-fullscreen.html" %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,400i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
<style> 


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    visibility: visible;
  }
  to {
    transform: translateY(0);
  }
}
@keyframes slideUp {
  from {
    transform: translateY(100%);
    visibility: visible;
  }
  to {
    transform: translateY(0);
  }
}
@media (min-width: 992px) {
  .col-lg-3 {
    flex: 0 0 auto;
    max-width: 24%; 
  }
}

.navbar {
  animation: slideDown 1.0s ease-out forwards;
}

.card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  width: auto; 
  min-height: 300px; 
}

.card:hover {
  transform: translateY(-5px);
}

.card-icon {
  font-size: 2em; 
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  height: 30px; 
  margin-top: 30px;
  color: #ACAACC;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
}

.card:hover .card-icon {
  color: #502564; 
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3); 
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  color: #344767;
  font-family: 'Montserrat', sans-serif;


}

.card-text {
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  color: #344767; 
}

.card-body {
  text-align: center;
  padding: 30px; 
  
}

.card-container {
  margin-top: -100px;
  animation: slideUp 1.0s ease-out forwards;
}

.get-started-container {
  margin-bottom:10px; 
}


.logo {
  position: relative;
  z-index: 1; 
  max-width: 120px; 
  margin-bottom: 50px;
  opacity: 0; 
  animation: fadeInRotate 2s ease forwards;
}

.fade-in {
  animation: fadeIn 1s ease-out;
}

.fade-in-delay {
  animation: fadeIn 1.5s ease-out;
  animation-delay: 0.5s; 
  animation-fill-mode: both; 
}

.btn-entrance {
  animation: fadeIn 2s ease-out;
  animation-delay: 1s;
  animation-fill-mode: both;
  transition: background-color 0.3s, transform 0.3s; 
}

.btn-entrance:hover {
    background-color: #ff7e5f; 
    transform: translateY(-3px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
  background-color: transparent; 
}

.custom-font {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 70px; 
    font-weight: bold; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 4px #000000; 
    margin-bottom: 40px; 
    transition: transform 0.3s ease-in-out; 
}

.custom-font:hover {
    transform: scale(1.05); 
}

.section-heading {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 3.8rem;
  color: #344767;
  margin-bottom: 1rem;
}

.feedback-card-body {
  text-align: center;
  padding: 10px; 
  display: flex;
  flex-direction: column;
  height: 100%; 
  padding-top: 50px;
}

.feedback-card {
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  height: 400px; 
  display: flex;
  flex-direction: column;
}

/* Existing styles for the blockquote */
blockquote {
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  color: #344767;
  background: #f9f9f9;
  border-left: 5px solid #507DBC;
  margin: 1.5rem 10px;
  padding: 1.5rem; 
  height: 140px;
  display: -webkit-box;
  -webkit-line-clamp: 5; 
  -webkit-box-orient: vertical;
}

blockquote:before,
blockquote:after {
  color: #804e9d;
  font-size: 3em; 
  position: absolute;
  z-index: 1;
}

blockquote:before {
  content: '\201C'; 
  top: -10px; 
  left: 4px; 
}

blockquote:after {
  content: '\201D'; 
  bottom: -10px; 
  right: 4px
}

blockquote p {
  position: relative;
  z-index: 2; 
  padding: 0 30px; 
}

/* Styling for the rating stars */
.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  color: #ffd700;
}

.rating-stars ul > li {
  display: inline;
  font-size: 1.5em; 
  margin-right: 5px;
}

.card-section {
  margin-bottom: 10px; 
  max-height: 150px;
}

.user-info {
  font-style: italic;
  color: #344767; /
}

.user-title {
  color: #707070; 
}

@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: scale(0.5) rotate(0deg);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(360deg);
    }
}
</style>

{% endblock stylesheets %}

{% block content %}


<div class="container position-sticky z-index-sticky top-0">
  <div class="row">
    <div class="col-12">
      {% if current_user.is_authenticated %}
      {% include "includes/navigation.html" %}
      {% else %}
      {% include "includes/navigation-fullscreen.html" %}
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-8 text-center">
      <img src="{{ url_for('static', filename='assets/img/audio-waves-light.svg') }}" alt="Volume Logo" class="logo">
      <h1 class="fade-in custom-font">Welcome to Volume!</h1>
      <p class="lead fade-in-delay">Discover your potential with our expert-guided speaking programs.</p>
      <a href="/login" class="btn btn-primary btn-entrance">Get Started</a>
    </div>
  </div>
</div>

<div class="container card-container">
  <div class="row">
    <!-- Card for Lessons -->
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-chalkboard-teacher"></i> 
        </div>
        <div class="card-body">
          <h5 class="card-title">Master Public Speaking</h5>
          <p class="card-text">Engage with a variety of lessons tailored to elevate your speaking skills, from beginner to advanced levels.</p>
        </div>
      </div>
    </div>
    <!-- Card for Dashboard -->
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-chart-line"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Your Progress Dashboard</h5>
          <p class="card-text">View your progress at a glance. Your lessons completed, current level, and upcoming events are all just a tap away.</p>
        </div>
      </div>
    </div>
    <!-- Card for Resources -->
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-book-open"></i> 
        </div>
        <div class="card-body">
          <h5 class="card-title">Curated Resources</h5>
          <p class="card-text">Access a curated collection of articles, videos, and expert insights designed to sharpen your public speaking prowess.</p>
        </div>
      </div>
    </div>
    <!-- Card for Feedback -->
    <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
      <div class="card">
        <div class="card-icon">
          <i class="fas fa-comments"></i> 
        </div>
        <div class="card-body">
          <h5 class="card-title">Share Your Feedback</h5>
          <p class="card-text">Your voice matters! Give feedback on your experience and help us tailor Volume to better suit your public speaking journey.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-light py-5 mt-7">
  <div class="container mt-5">
    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-heading">User Feedback</h2>
        <p class="lead">Hear from our users and how Volume has impacted their speaking journey.</p>
      </div>
    </div>
    <div class="row justify-content-center">

      <!-- Feedback Cards -->
      <div class="col-md-7">
        <div class="feedback-card card my-3 mx-auto">
          <div class="feedback-card-body">
            <div class="rating-stars">
              <ul>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
            </div>

            <blockquote class="blockquote card-section" >
              <p class="mb-4">Volume has been transformative for my communication skills, especially in public speaking contexts.</p>
          </blockquote>     

            <div class="user-info card-section font-weight-bold">Noor Majid Altmemi</div>
            <div class="user-title card-section">Medical Student</div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="feedback-card card my-3 mx-auto">
          <div class="feedback-card-body">
            <div class="rating-stars">
              <ul>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
            </div>
            <blockquote class="blockquote card-section">
              <p class="mb-0">Joining Volume has significantly improved my ability to articulate my thoughts clearly and effectively in front of an audience.</p>
            </blockquote>
            <div class="user-info card-section font-weight-bold">Naya Hani Zeno</div>
            <div class="user-title card-section">Law Student</div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="feedback-card card my-3 mx-auto">
          <div class="feedback-card-body">
            <div class="rating-stars">
              <ul>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
                <li class="fa fa-star"></li>
              </ul>
            </div>
            <blockquote class="blockquote card-section">
              <p class="mb-0">The supportive environment and the quality of the resources provided have made learning not just effective but also enjoyable.</p>
            </blockquote>
            <div class="user-info card-section font-weight-bold">Abdullah Firas Alhashimi</div>
            <div class="user-title card-section"> Mechanical Engineering student</div>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>

<script>
    function redirectToAnotherPage() {
      window.location.href = "/index";
    }
</script>


{% include "includes/footer-fullscreen.html" %}

{% endblock content %}
